@model User
@{
}

<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
               asp-for="@Model.UserName">
        <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
               asp-for="@Model.Password">
        <label for="floatingPassword">Password</label>
    </div>
</form>
